/* This shows the front and text size for what the paragraphs will be and it is throughout the whole page. It makes it readable. */
p {
    font-family: Verdana;
    font-size: 16px;
}
/* The body creates the background and sets the default color of the text. The background is what gives the page its style. */
body {
    background-image: linear-gradient(to right, #f90089, #00eeff);
    color: #000000;
}
/* The main makes it so the the text is not hard to see, by giving it a white background and keeps the story separate from the background */
main {
    background-color: #ffffff;
    padding: 20px;
}
/* The footer makes it so it is clear to read by adding a white background to it, black text, padding and putting it in the center. */
footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px;
}